@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

#quienesSomos .quienesSomosTexto,
#queOfrecemos .quienesSomosTexto, #quienesSomos .quienesSomosImagen,
#queOfrecemos .quienesSomosImagen, #formularioDeContacto .contactoImagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  color: green;
}

.barraSuperior ul {
  display: flex;
  align-items: center;
}
.barraSuperior ul li a {
  font-size: 19px;
}
.barraSuperior ul li a, .barraSuperior ul li strong {
  color: rgba(4, 105, 4, 0.979);
}
.barraSuperior ul li a:hover, .barraSuperior ul li a:active, .barraSuperior ul li strong:hover, .barraSuperior ul li strong:active {
  color: rgba(62, 172, 62, 0.979) !important;
}
.barraSuperior .navbar-brand img {
  height: 45px;
}
.barraSuperior .navbar-toggler,
.barraSuperior .navbar-toggler:active .navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

footer {
  padding-top: 5vh;
}
footer .separador {
  width: 100vw;
  padding: 5vh 0%;
  margin: 0%;
}
footer .columna-footer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer .columna-footer .iconoRedes {
  height: 30px;
}
footer .logo-footer img {
  width: 100px;
}

.imagen-principal {
  padding: 0px;
  margin: 0px 0px 10vh 0px;
}
.imagen-principal img {
  margin: 0px;
}

#categorias {
  margin-top: 10vh;
}
#categorias .row {
  margin-bottom: 20px;
}

#presentacion h1 {
  font-weight: 800;
  font-style: italic;
}
#presentacion h2 {
  font-size: 1.3rem;
  font-style: italic;
  margin: 0px 35px;
}

#tituloContacto p {
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
}

#formularioDeContacto {
  color: grey;
  padding: 25px;
}
#formularioDeContacto .contactoForm {
  padding-right: 50px;
  margin-bottom: 25px;
}
#formularioDeContacto .contactoForm .btncontacto,
#formularioDeContacto .contactoForm .btncontacto:hover {
  background-color: #0f7a12 !important;
  border: none;
  color: white !important;
}
.quienesSomosInfo {
  margin-top: 30px;
  margin-bottom: 30px;
}

#quienesSomos,
#queOfrecemos {
  padding: 0% 10vw;
}
#quienesSomos .quienesSomosImagen img,
#queOfrecemos .quienesSomosImagen img {
  width: 300px;
}
#quienesSomos .quienesSomosTexto p,
#queOfrecemos .quienesSomosTexto p {
  text-align: left;
  font-size: 1.2rem;
  padding-right: 20px;
}

.btncontactoMinorista,
.btncontactoMayorista,
.btncontactoMinorista:hover .btncontactoMayorista:hover {
  background-color: #0f7a12 !important;
  border: none;
  color: white !important;
}

.productoTexto {
  text-align: left;
  font-size: 1rem;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productoTexto .card {
  margin-bottom: 70px;
}
.productoTexto .card .card-header,
.productoTexto .card .card-title {
  text-align: center;
}
.productoTexto .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productoTexto .card .card-body h2 {
  font-size: 19px;
  font-style: italic;
  font-weight: 500;
}
.productoTexto .card .card-body .btncontactoMinorista {
  text-align: center;
}

#presentacionGaleria p {
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
}

#galeria .img-thumbnail {
  border: none;
}

@media (min-width: 991px) {
  .navbar-nav {
    padding-left: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
