*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$colorBarra: rgba(4, 105, 4, 0.979) rgba(62, 172, 62, 0.979);
$fuente: "Roboto", sans-serif;

%flexinicial{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin fuenteInit($sizeInit, $styleInit){

    font-size: $sizeInit;
    font-style: $styleInit;

}


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
p,
h1,
h2,
h3{
    font-family: $fuente;
    font-weight: 300;
    text-align: center;
}
h1{
    color:green;
}